In [1]:
import numpy as np
import pandas as pd

##Visualization Libraries
import matplotlib as mpl
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
directory = ''
file = 'pseudo_facebook.csv'
df = pd.read_csv(directory + file)

In [3]:
df.head()

,userid,age,dob_day,dob_year,dob_month,gender,tenure,friend_count,friendships_initiated,likes,likes_received,mobile_likes,mobile_likes_received,www_likes,www_likes_received
0,2094382,14,19,1999,11,male,266.0,0,0,0,0,0,0,0,0
1,1192601,14,2,1999,11,female,6.0,0,0,0,0,0,0,0,0
2,2083884,14,16,1999,11,male,13.0,0,0,0,0,0,0,0,0
3,1203168,14,25,1999,12,female,93.0,0,0,0,0,0,0,0,0
4,1733186,14,4,1999,12,male,82.0,0,0,0,0,0,0,0,0

In [4]:
#Check for duplicate rows
dups = df.duplicated().tolist()
if True in dups:
    print("There's a duplicate entry somewhere")
else: 
    print("No duplicate entries")

No duplicates

## Find Percent Populated of Each Column

In [5]:
def populated(df, col_name):
    total = df.shape[0]
    empty = df.loc[df[col_name].isna()]
    numE = empty.shape[0]
    if numE != 0:
        print("Number of empty entries for \"{}\": {}".format(col_name, numE))
    return (1-numE/total)*100

In [6]:
for col in df.columns:
    print("\"{}\" is {:.6f}% populated.\n".format(col, populated(df, col)))

"userid" is 100.000000% populated.

"age" is 100.000000% populated.

"dob_day" is 100.000000% populated.

"dob_year" is 100.000000% populated.

"dob_month" is 100.000000% populated.

Number of empty entries for "gender": 175
"gender" is 99.823238% populated.

Number of empty entries for "tenure": 2
"tenure" is 99.997980% populated.

"friend_count" is 100.000000% populated.

"friendships_initiated" is 100.000000% populated.

"likes" is 100.000000% populated.

"likes_received" is 100.000000% populated.

"mobile_likes" is 100.000000% populated.

"mobile_likes_received" is 100.000000% populated.

"www_likes" is 100.000000% populated.

"www_likes_received" is 100.000000% populated.

## Dealing With Categorical Columns

In [14]:
print(len(df['userid'].unique()))
print(df['gender'].unique())

99003
['male' 'female' nan]

## Generate Stats For Numerical Columns

In [8]:
def outliers(numbers):
    stats = {}
    q1 = np.quantile(numbers, .25)
    q2 = np.quantile(numbers, .5)
    q3 = np.quantile(numbers, .75)
    
    IQR = q3 - q1
    lowerb = q1 - 1.5 * IQR
    upperb = q3 + 1.5 * IQR
    
    nOutlier = np.array(numbers)
    outlier = np.array(numbers)
    outlier = outlier[(outlier < lowerb) | (outlier > upperb)]
    nOutlier = nOutlier[(nOutlier > lowerb) & (nOutlier < upperb)]
    stats['min'] = min(nOutlier)
    stats['q1'] = q1
    stats['q2'] = q2
    stats['q3'] = q3
    stats['max'] = max(nOutlier)
    
    if(len(outlier) > 0):
        print('Number of outliers:', len(outlier))
        print('Outlier min and max:', min(outlier), ',', max(outlier))
    return stats

In [9]:
print(outliers(df['age'].tolist()), '\n')
print(outliers(df['dob_day'].tolist()), '\n')
print(outliers(df['dob_year'].tolist()), '\n')
df['tenure'].fillna(df['tenure'].mean(), inplace = True)
print(outliers(df['tenure'].tolist()), '\n')
print(outliers(df['friend_count'].tolist()), '\n')
print(outliers(df['friendships_initiated'].tolist()), '\n')
print(outliers(df['likes'].tolist()), '\n')
print(outliers(df['likes_received'].tolist()), '\n')
print(outliers(df['mobile_likes'].tolist()), '\n')
print(outliers(df['mobile_likes_received'].tolist()), '\n')
print(outliers(df['www_likes'].tolist()), '\n')
print(outliers(df['www_likes_received'].tolist()), '\n')

Number of outliers: 4314
Outlier min and max: 96 , 113
{'min': 13, 'q1': 20.0, 'q2': 28.0, 'q3': 50.0, 'max': 94}

{'min': 1, 'q1': 7.0, 'q2': 14.0, 'q3': 22.0, 'max': 31}

Number of outliers: 4314
Outlier min and max: 1900 , 1917
{'min': 1919, 'q1': 1963.0, 'q2': 1985.0, 'q3': 1993.0, 'max': 2000}

Number of outliers: 8276
Outlier min and max: 1349.0 , 3139.0
{'min': 0.0, 'q1': 226.0, 'q2': 412.0, 'q3': 675.0, 'max': 1348.0}

Number of outliers: 9128
Outlier min and max: 469 , 4923
{'min': 0, 'q1': 31.0, 'q2': 82.0, 'q3': 206.0, 'max': 468}

Number of outliers: 9570
Outlier min and max: 268 , 4144
{'min': 0, 'q1': 17.0, 'q2': 46.0, 'q3': 117.0, 'max': 266}

Number of outliers: 14755
Outlier min and max: 202 , 25111
{'min': 0, 'q1': 1.0, 'q2': 11.0, 'q3': 81.0, 'max': 200}

Number of outliers: 14753
Outlier min and max: 147 , 261197
{'min': 0, 'q1': 1.0, 'q2': 8.0, 'q3': 59.0, 'max': 145}

Number of outliers: 15412
Outlier min and max: 116 , 25111
{'min': 0, 'q1': 0.0, 'q2': 4.0, 'q3': 46.0, 'max': 114}

Number of outliers: 14775
Outlier min and max: 83 , 138561
{'min': 0, 'q1': 0.0, 'q2': 4.0, 'q3': 33.0, 'max': 82}

Number of outliers: 18489
Outlier min and max: 18 , 14865
{'min': 0, 'q1': 0.0, 'q2': 0.0, 'q3': 7.0, 'max': 17}

Number of outliers: 15289
Outlier min and max: 51 , 129953
{'min': 0, 'q1': 0.0, 'q2': 2.0, 'q3': 20.0, 'max': 49}

In [10]:
df.loc[df['gender'] == 'male'].count()

userid                   58574
age                      58574
dob_day                  58574
dob_year                 58574
dob_month                58574
gender                   58574
tenure                   58574
friend_count             58574
friendships_initiated    58574
likes                    58574
likes_received           58574
mobile_likes             58574
mobile_likes_received    58574
www_likes                58574
www_likes_received       58574
dtype: int64

### Data Manipulation

In [11]:
# Merging dob columns into single column
df['dob'] = df['dob_year'].astype(str) + '-' + df['dob_month'].astype(str) + '-' + df['dob_day'].astype(str)
df['dob'] = pd.to_datetime(df['dob'])
df.head()

,userid,age,dob_day,dob_year,dob_month,gender,tenure,friend_count,friendships_initiated,likes,likes_received,mobile_likes,mobile_likes_received,www_likes,www_likes_received,dob
0,2094382,14,19,1999,11,male,266.0,0,0,0,0,0,0,0,0,1999-11-19
1,1192601,14,2,1999,11,female,6.0,0,0,0,0,0,0,0,0,1999-11-02
2,2083884,14,16,1999,11,male,13.0,0,0,0,0,0,0,0,0,1999-11-16
3,1203168,14,25,1999,12,female,93.0,0,0,0,0,0,0,0,0,1999-12-25
4,1733186,14,4,1999,12,male,82.0,0,0,0,0,0,0,0,0,1999-12-04