In [1]:
import numpy as np
import pandas as pd

In [2]:
directory = ''
file = 'pseudo_facebook.csv'
df = pd.read_csv(directory + file)

In [3]:
df.head()

,userid,age,dob_day,dob_year,dob_month,gender,tenure,friend_count,friendships_initiated,likes,likes_received,mobile_likes,mobile_likes_received,www_likes,www_likes_received
0,2094382,14,19,1999,11,male,266.0,0,0,0,0,0,0,0,0
1,1192601,14,2,1999,11,female,6.0,0,0,0,0,0,0,0,0
2,2083884,14,16,1999,11,male,13.0,0,0,0,0,0,0,0,0
3,1203168,14,25,1999,12,female,93.0,0,0,0,0,0,0,0,0
4,1733186,14,4,1999,12,male,82.0,0,0,0,0,0,0,0,0

## Data Processing

In [7]:
len(df['userid'].unique())

99003

In [12]:
print(df['age'].min())
print(df['age'].max())

13
113

In [19]:
def outliers(numbers):
    stats = {}
    q1 = np.quantile(numbers, .25)
    q2 = np.quantile(numbers, .5)
    q3 = np.quantile(numbers, .75)
    
    IQR = q3 - q1
    lowerb = q1 - 1.5 * IQR
    upperb = q3 + 1.5 * IQR
    
    nOutlier = np.array(numbers)
    outlier = np.array(numbers)
    outlier = outlier[(outlier < lowerb) | (outlier > upperb)]
    nOutlier = nOutlier[(nOutlier > lowerb) & (nOutlier < upperb)]
    stats['min'] = min(nOutlier)
    stats['q1'] = q1
    stats['q2'] = q2
    stats['q3'] = q3
    stats['max'] = max(nOutlier)
    
    if(len(outlier) > 0):
        print('Number of outliers: ', len(outlier))
    return stats

In [20]:
outliers(df['age'].tolist())

Number of outliers:  4314

{'min': 13, 'q1': 20.0, 'q2': 28.0, 'q3': 50.0, 'max': 94}